# Virtual Environment
venv/

# Environment Variables
.env

# Secrets directory
secrets/

# Python cache files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# data
data/*
!data/.gitkeep

# Add this line to ignore the logs directory
logs/

# Ignore all .log files in case any end up outside the logs directory
*.log

# Ignore config.ini but not the config directory
config/config.ini