# Virtual Environment
venv/

# Environment Variables
.env

# Secrets directory
secrets/

# Python cache files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# data
data/*
!data/.gitkeep